<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qinshuihepan.bbs"
    android:versionCode="2"
    android:versionName="1.01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">


        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.PostContentActivity" />
        <activity android:name=".ui.ImageViewActivity" />
        <activity android:name=".ui.LoginActivity" />

        <provider
            android:name=".dao.DataProvider"
            android:authorities="org.qingshuihepan.uestc.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <service android:name=".util.update.DownloadService"></service>

    </application>

</manifest>
